.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

[data-semana]::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #000;
}

[data-semana].aberto::after {
  background-color: green;
  animation: pulse 0.7s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(200%);
  }
}
