/* html {
  scroll-behavior: smooth;
} */

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
}

body.active {
  background-color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-tab="content"] section {
  display: none;
}
[data-tab="content"] > section.ativo {
  display: block;
  animation: show 0.5s forwards;
}

[data-tab="content"] section.ativo.show-right {
  display: block;
  animation: show-right 0.5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  display: block;
  animation: show-down 0.5s forwards;
}

.js [data-anime="accordion"] dd {
  display: none;
}

.js [data-anime="accordion"] dt::after {
  content: "⤵";
  margin-left: 10px;
}

.js [data-anime="accordion"] dt.ativo::after {
  content: "⤴";
  margin-left: 10px;
}

.js [data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
